* {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 110vh;
  /* text-align: center; */
  display: flex;
  flex-direction: row-reverse;
}

#sidebar {
  width: 30vw;
}

#content {
  width: 70vw;
  padding: 10px 25px;
  box-sizing: border-box;

}

#grid {
  display: grid;
  grid-template-columns: repeat(4, 20fr);
  column-width: 20vw;
  grid-gap: 20px;
  grid-auto-rows: 75px;
}
#grid > div:nth-child(even) {
  grid-row-end: span 3
}
#grid > div:nth-child(odd) {
  grid-row-end: span 4
}
#grid > div {
  border-radius: 10px;
}
#grid > div > div{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#grid div img {
  width: 94%
}

#loader {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

#loader > div {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #999;
  position: relative;
}
#loader > div > div {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
}
#loader > div > div:nth-child(1) {
  top: 25%;
  left: 25%;
}
#loader > div > div:nth-child(2) {
  top: 25%;
  right: 25%;
}
#loader > div > div:nth-child(3) {
  bottom: 25%;
  left: 25%;
}
#loader > div > div:nth-child(4) {
  bottom: 25%;
  right: 25%;
}

#search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  transition: all 1s ease;
}
#search > * {
  height: 40px;
  font-size: 20px;
  border-radius: 30px;
  outline: none;
  transition: all 500ms ease;

}
#search input {
  display: block;
  width: 50%;
  padding: 0 20px;
  border: 2px solid #ddd;
}
#search input:focus {
  width: 65%;
}

#search button {
  width: 20%;
  border: 2px solid #bbb;
  background-color: #ddd;
}


#empty {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #aaa
}
#empty p {
  padding: 0 20px;
}

#sidebar {
  background-color: #1b1b1c;
  height: 100vh;
  position: fixed;
  top:0;
  left:0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sidebar img {
  border-radius: 50%;
  margin: 20px 0;
}

#sidebar span {
  color: #ccc
}

#sidebar > p:nth-child(1) {
  color: #ddd
}
#sidebar > p:nth-of-type(2) {
  color: #ddd;
  font-size: 12px;
}
#sidebar .contact {
  margin-top: 40px;
}
#sidebar .contact h3 {
  color: #888;
  margin: 15px 0 ;
  text-align: center;
}
#sidebar .contact .contact-item {
  font-size: 12px;
  margin: 5px 0;
}



@media only screen and (max-width: 900px) {
  #grid {
    grid-template-columns: repeat(3, 30fr);
  }
}

@media only screen and (max-width: 600px) {
  #grid {
    grid-template-columns: repeat(2, 50fr);
  }
}
